@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
:root{
    --primaryColor: black;
    --secondaryColor: white;
    --alternativeColor: grey;
    --borderColor: #054b88;
    font-family: Anuphan;
}
#logo{
    width: 5rem;
}